In [3]:
import pandas as pd
import os

folder = 'data/'
vegetables = sorted([f.split('.')[0] for f in os.listdir(folder) if f.endswith('.csv')])

dataframes = {}

for vegetable in vegetables:
    dataframes[vegetable] = pd.read_csv(f'{folder}/{vegetable}.csv', index_col='Date', parse_dates=True)

dataframes['Beans'].head()

,Bandarawela,Dambulla,Kandy,Keppetipola,Meegoda,Norochchole,Nuwaraeliya,Peliyagoda,Thambuththegama,Veyangoda
Date,,,,,,,,,,
2020-01-01,315.0,315.00,310.00,311.00,312.0,314.00,310.0,313.00,314.0,310.00
2020-01-02,278.5,279.17,274.17,275.33,276.5,278.33,274.5,277.33,277.5,274.67
2020-01-03,242.0,243.33,238.33,239.67,241.0,242.67,239.0,241.67,241.0,239.33
2020-01-04,205.5,207.50,202.50,204.00,205.5,207.00,203.5,206.00,204.5,204.00
2020-01-05,169.0,171.67,166.67,168.33,170.0,171.33,168.0,170.33,168.0,168.67

In [7]:
for vegetable, df in dataframes.items():
    df.columns = [f'{col}_{vegetable}' for col in df.columns]

combined_df = pd.concat(dataframes.values(), axis=1)

combined_df.head()

,Bandarawela_Beans_Beans_Beans_Beans,Dambulla_Beans_Beans_Beans_Beans,Kandy_Beans_Beans_Beans_Beans,Keppetipola_Beans_Beans_Beans_Beans,Meegoda_Beans_Beans_Beans_Beans,Norochchole_Beans_Beans_Beans_Beans,Nuwaraeliya_Beans_Beans_Beans_Beans,Peliyagoda_Beans_Beans_Beans_Beans,Thambuththegama_Beans_Beans_Beans_Beans,Veyangoda_Beans_Beans_Beans_Beans,...,Bandarawela_Tomato_Tomato_Tomato_Tomato,Dambulla_Tomato_Tomato_Tomato_Tomato,Kandy_Tomato_Tomato_Tomato_Tomato,Keppetipola_Tomato_Tomato_Tomato_Tomato,Meegoda_Tomato_Tomato_Tomato_Tomato,Norochchole_Tomato_Tomato_Tomato_Tomato,Nuwaraeliya_Tomato_Tomato_Tomato_Tomato,Peliyagoda_Tomato_Tomato_Tomato_Tomato,Thambuththegama_Tomato_Tomato_Tomato_Tomato,Veyangoda_Tomato_Tomato_Tomato_Tomato
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,315.0,315.00,310.00,311.00,312.0,314.00,310.0,313.00,314.0,310.00,...,164.55,115.0,137.00,158.33,135.00,290.0,260.00,375.00,230.00,135.0
2020-01-02,278.5,279.17,274.17,275.33,276.5,278.33,274.5,277.33,277.5,274.67,...,101.67,220.0,302.62,310.00,91.67,300.0,575.00,425.00,360.00,270.0
2020-01-03,242.0,243.33,238.33,239.67,241.0,242.67,239.0,241.67,241.0,239.33,...,215.00,315.0,590.00,151.67,113.33,340.0,138.33,138.33,140.00,107.5
2020-01-04,205.5,207.50,202.50,204.00,205.5,207.00,203.5,206.00,204.5,204.00,...,160.62,215.0,325.00,95.00,175.91,110.0,250.00,508.33,232.50,265.0
2020-01-05,169.0,171.67,166.67,168.33,170.0,171.33,168.0,170.33,168.0,168.67,...,110.00,140.0,125.00,235.00,110.00,195.0,100.00,290.00,123.33,170.0

In [8]:
combined_df.to_csv('./Data/ultimate.csv')